*{
  font-family: Arial, sans-serif;
}
.header{
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__image{
 padding: 0 0 0 160px;
 width: 200px;
 height: 80px;
}
.nav__wrapper{
  list-style: none;
  display: flex;
  margin: 0 70px 0 0;
}
.nav__item{
  text-transform: uppercase;
  border-left: 2px solid rgb(86, 86, 86); 
  padding-top: 38px;                
  margin-top: -38px; 
  padding-bottom: 38px;                
  margin-bottom: -38px; 
  padding-left: 30px;                
  margin-left: -30px; 
  margin: 0 40px 0 0;
}
.nav__link{
  text-decoration: none;
  color: #ffffff;
}
.pt_buton{
  text-decoration: none;
  color: #ffffff;
 background-color: #17bbfc;
 border: 12px solid #17bbfc;             
 margin: 0 -20px 0 50px;         
}


.hero {
  color: rgb(244, 244, 247);
  text-align: center;
  display: flex;
}
.hero__wrapper {
  position: relative;
  display: inline;
}
.hero__title{
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom:2px solid  #ffffff ;
 /*nu stiu cum sa fac sa fie linia mai mica de la border-bottom*/
  padding: 0 0  20px 0;
  margin: 0 0 -20px 0;
}
.hero__subtitle{
  font-size: 20px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content__image{
  width: 1510px;
  height: 500px;
}
.article__wrapper{
  align-items: center;
  margin: 0 350px 0 350px;
  padding: 0 0 50px 0;
}
.content__title{
  margin: 80px 0 50px 350px;
  font-size: 25px;
}
.content__text{
  margin: 0 0 50px 0;
  color: #9d9898;
}
.content__quote::before{
  content:'“';
 display: flex;
 font-size: 100px;
 margin: -65px 0 -60px -35px;
  color: #000000;
}
.quote{
  margin:0 0 40px -8px;
  color: #000000;
}
.quote__author{
  margin:0 0 0 -580px;
  color: #000000;
}
.content__image1{
  width: 100%;
  height: auto;
}


.related {
  background: black;
  color: white;
  padding: 30px;
  text-align: center;
  position: relative;
}
.related__title {
  font-size: 18px;
  margin-bottom: 20px;
}
.content__image2{
  width: 320px;
  height: 320px;
}
.special{
  border: 3px solid #0089de;
}
.related__wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.item__title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  margin: -50px 0 0 -340px;
  padding: 0 0 -50px 0;
}
.item__title2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  margin: 0 0 0 0;
}
.item__title3 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  margin: 0 0 0 340px;
}
.related__action {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: rgb(1, 1, 51);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.social {
  text-align: center;
  margin: 20px 0;
}

.social__wrapper {
  list-style: none;
  justify-content: center;
  gap: 20px;
}
.content__image3{
  width: 500px;
  height: 60px;
  margin: 10px 0 0 650px;
  position: absolute;
}
.social__link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin: 0 400px 0 0;
}

.footer {
  background: black;
  color: white;
  text-align: center;
}

.menu__wrapper {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 10px;
  margin-bottom: -10px;
  border-bottom: 2px solid #9d9898;
}
.menu__item{
  margin: 20px 0 0 0;
  padding: -20px 0 0 0;
}
#culoare{
  color: #0070e0;
}
.menu__link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer__logo img {
  width: 200px;
  height: 100px;
  margin-top: 10px;
}

.footer__copyright {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}